@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!--Content-->
<section id="signup">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-6 col-sm-offset-3 text-center signup">
                <h3>Check your results</h3><br />
                <form id="signup-form" class="form-horizontal" method="get" action="#">

                    <div class="control-group">
                        <div class="controls">
                            @Html.DropDownList("ddlSchool", ViewBag.SchoolName as SelectList, "----School Name----", new { id = "ddlSchool", @class = "imput-large" })
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            @{
                                var domainsList = new SelectList(new[]
                                {
                               new SelectListItem { Text = "JSCE Result", Value = "1"},
                               new SelectListItem { Text = "Mock Examination", Value = "2", Selected = true },
                               new SelectListItem { Text = "End Of Term Examination", Value = "3"},


                                }, "Value", "Text");
                            }
                            @Html.DropDownList("DrpExamTypes", domainsList, "----Exam Types----", new { id = "DrpExamTypes", @class = "imput-large" })
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="TxtSearchResult" name="TxtSearchResult" placeholder="Examination number">
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="text" id="TxtToken" name="TxtToken" class="input-xlarge" placeholder="Scratch card token">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn-main"><i class="fa fa-sign-in" onclick="SearchResult();"></i> Get Result</button>
                            <label class="label label-danger" id="lblMessage"></label>
                        </div>
                        <a class="small-message" href="#"><small>Dont have a token?</small></a>
                    </div>
                </form>

                <div class="">
                    <div class="row">



                        <div class="table-responsive table" id="UserDetailsTables" style="display:none;">
                            <button style="margin-left: 16px;float:right;margin-bottom: 31px;margin-top: 11px;" id="ResultsDownload" class="btn btn-info " value="Save" data-toggle='modal' data-target='#UploadmyModal'>
                                <span class="glyphicon glyphicon-download"></span> Report card download
                            </button>
                            @*<button style="margin-left: 16px;float:right;margin-bottom: 31px;margin-top: 11px;" id="ReportDownload" class="btn btn-info " value="Save" data-toggle='modal' data-target='#UploadmyModal'>
                                    <span class="glyphicon glyphicon-download"></span> Report card Downlolad
                                </button>*@

                            <table id="UserDetailsTable" class="table table-bordered" style="border-bottom: 1px solid #D5D5D5;">
                                <thead>
                                    <tr>
                                        @*<th style="text-transform:none;border: 1px solid #D5D5D5;">#</th>
                                            <th style="text-transform:none;border: 1px solid #D5D5D5;">Registration No</th>
                                            <th style="text-transform:none;border: 1px solid #D5D5D5;">Student Name</th>*@
                                        <th style="text-transform:none;border: 1px solid #D5D5D5;">Subject Name</th>
                                        <th style="text-transform:none;border: 1px solid #D5D5D5;">Grade</th>
                                        <th style="text-transform:none;border: 1px solid #D5D5D5;">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <br>
                    </div>
                    <div id="wait" style="display: none; width: 69px; height: 100px; position: absolute; top: 35%; left: 50%; padding: 2px;">
                        <img src='/Images/caricamento_big.gif' width="100%" height="50" /><br>
                        Loading..
                    </div>
                </div>
            </div><!--End Span6-->
        </div><!--End Row-->
    </div><!--End Container-->
</section>
<input type="hidden" id="fileResult" />



<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
            $('#ClearTextbox').click(function () {

                $("#FirstName").val("");
                $("#txtJSCERegistrationNumber").val("");

            });

        $('#signup-form').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                err: {
                    // You can set it to popover
                    // The message then will be shown in Bootstrap popover
                    container: 'tooltip'
                },
                fields: {
                    TxtSearchResult: {
                        validators: {
                            notEmpty: {
                                message: 'The  registration Number is required'
                            },
                        }
                    },
                    DrpExamTypes: {
                        validators: {
                            notEmpty: {
                                message: 'The exam types is required'
                            }

                        }
                    },
                    ddlSchool: {
                        validators: {
                            notEmpty: {
                                message: 'The school name is required'
                            }

                        }
                    },
                    TxtToken: {
                        validators: {
                            notEmpty: {
                                message: 'The token Id is required'
                            }

                        }
                    },
                }
            })
        .on('success.form.fv', function (e) {
            e.preventDefault();
            SearchResult('/Result/GetResult');
        });

        });
</script>
<script src="~/Scripts/AdminManage/Result/Resultjs.js"></script>