@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html>
<head>
    <script src="~/Content/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="~/Content/js/datatables.min.js"></script>
    <script src="~/Content/js/jquery.dataTables.min.js"></script>
    <script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
    <script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>

    <style>
        .table-responsive{
          overflow-x:hidden;
          padding-top: 10px;
        }
        .dataTables_length{
            display:none;
        }
        .panel-heading{
            font-size:x-large;
           font-weight:bold;
        }
        .form-control-feedback {
            right:8px;
        }
        #DrpExamTypes{
            margin-top:-11px;
        }
        #Back {
               margin-left: 13px;
               margin-bottom: 6px;
        }
         #Back:hover{
       text-decoration:none;
         }
         .has-feedback label~.form-control-feedback{
             top:3px;
         }
       
.container{
            
        }
    </style>
</head>
<body>
    <input type="hidden" id="fileResult" />

    <div class="tile">

        <div class="container" style="padding-top: 30px;width: 651px;">
            <div class="panel panel-primary">
                <div class="panel-heading">Result Portal</div>
                <div class="panel-body">
                    <div class="col-md-6" style="margin-left:156px;">
                        <form action="#" method="get" id="ResultForm">
                            <div class="form-group col-sm-12">
                                <label class="heading" style="font-size:medium;padding-bottom:10px;"></label>
                                @{
                                    var domainsList = new SelectList(new[]
                                    {
                               new SelectListItem { Text = "JSCE Result", Value = "1"},
                               new SelectListItem { Text = "Mock Examination", Value = "2", Selected = true },
                               new SelectListItem { Text = "End Of Term Examination", Value = "3"},
                              

                                }, "Value", "Text");
                                }
                                @Html.DropDownList("DrpExamTypes", domainsList, "----Exam Types----", new { id = "DrpExamTypes", @class = "form-control" })
                               
                            </div>
                            <div class="form-group col-sm-12">
                                <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                                <input class="form-control" id="TxtSearchResult" name="TxtSearchResult" placeholder="----Registration Number----">
                            </div>
                            <div class="form-group col-sm-12">
                                <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                                <button type="submit" data-toggle="tooltip" data-placement="right" title="Search Result" class="btn btn-info" style="height:34px;width:100px;" id="SearchButtton" onclick="SearchResult();">Search</button>
                   
                                    <label class="label label-danger" id="lblMessage"></label>
                               
                            </div>
                         
                        </form>
                    </div>
                </div>
             <a href="/Login/Index" data-toggle="tooltip" data-placement="top" title="Back" class="glyphicon glyphicon-arrow-left" id="Back"></a>
            </div>
            </div>
        <div class="container">
                <div class="row">
              
                    

                    <div class="table-responsive table" id="UserDetailsTables" style="display:none;">
                        <button  style="margin-left: 16px;float:right;margin-bottom: 31px;margin-top: 11px;" id="ResultsDownload" class="btn btn-info " value="Save" data-toggle='modal' data-target='#UploadmyModal'> 
                            <span class="glyphicon glyphicon-download"></span> Result Downlolad</button>
                        @*<button style="margin-left: 16px;float:right;margin-bottom: 31px;margin-top: 11px;" id="ReportDownload" class="btn btn-info " value="Save" data-toggle='modal' data-target='#UploadmyModal'>
                            <span class="glyphicon glyphicon-download"></span> Report card Downlolad
                        </button>*@

                        <table id="UserDetailsTable" class="table table-bordered" style="border-bottom: 1px solid #D5D5D5;">
                            <thead>
                                <tr>
                                    <th style="text-transform:none;border: 1px solid #D5D5D5;">#</th>
                                    <th style="text-transform:none;border: 1px solid #D5D5D5;">Registration No</th>
                                    <th style="text-transform:none;border: 1px solid #D5D5D5;">Student Name</th>
                                    <th style="text-transform:none;border: 1px solid #D5D5D5;">Subject Name</th>
                                    <th style="text-transform:none;border: 1px solid #D5D5D5;">Grade</th>
                                    <th style="text-transform:none;border: 1px solid #D5D5D5;">Remarks</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <br>
                </div>
          
            <div id="wait" style="display: none; width: 69px; height: 100px; position: absolute; top: 35%; left: 50%; padding: 2px;">
                <img src='/Images/caricamento_big.gif' width="100%" height="50" /><br>
                Loading..
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
            $('#ClearTextbox').click(function () {

                $("#FirstName").val("");
                $("#txtJSCERegistrationNumber").val("");

            });

            $('#ResultForm').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                err: {
                    // You can set it to popover
                    // The message then will be shown in Bootstrap popover
                    container: 'tooltip'
                },
                fields: {
                    TxtSearchResult: {
                        validators: {
                            notEmpty: {
                                message: 'The  registration Number is required'
                            },
                        }
                    },
                    DrpExamTypes: {
                        validators: {
                            notEmpty: {
                                message: 'The exam types is required'
                            }

                        }
                    },

                }
            })
        .on('success.form.fv', function (e) {
            e.preventDefault();
            SearchResult('/Result/GetResult');
        });

        });
</script>
<script src="~/Scripts/AdminManage/Result/Resultjs.js"></script>