@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Scripts/AdminManage/SchoolManage/SchoolManage.js"></script>

<input type="hidden" id="SchoolID"  />
<style>
    #ManageSchoolValidation .form-control-feedback {
        right: 7px;
    }
</style>

<div class="tile">
 
        <div class="container">
             <div class="panel panel-primary">
                <div class="panel-heading">Manage School</div>
            </div>
                <div class="table-responsive table table-bordered">
                    <button id="cleartextbox" style="margin-left: 16px;float:right;margin-bottom: 31px; margin-top: 11px;" class="btn btn-info " value="Save" data-toggle="modal" data-target="#myModal"> Add new</button>
                  
                    <h4 style="text-align:center;">
                        <label class="label label-danger" id="lblMessage"></label>
                    </h4>
                    <h4 style="text-align:center;"> <label class="label" id="lblUpdateMessages"></label></h4>
                    <table id="SchoolDetailsTable" class="table table-bordered" style="border-bottom: 1px solid #D5D5D5;">
                        <thead>
                            <tr>
                                <th style="text-transform:none;border: 1px solid #D5D5D5;">#</th>
                                <th style="text-transform:none;border: 1px solid #D5D5D5;">School Name</th>
                                <th style="text-transform:none;border: 1px solid #D5D5D5;">Address</th>
                                <th style="text-transform:none;border: 1px solid #D5D5D5;">Local Government</th>
                                <th style="text-transform:none;border: 1px solid #D5D5D5;">State</th>
                                <th style="text-transform:none;border: 1px solid #D5D5D5;">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                   
                   
                </div>


                <br>
            </div>
    </div>
  
<div class="container">
 
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: #edecec 1px solid;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Manage School</h4>
                    
                </div>
                <div class="modal-body">
                   
                           
                            <div class="panel-body">

                                <form name="ManageUserValidation" id="ManageSchoolValidation">

                                    
                                    <div class="form-group col-sm-6">
                                        <label for="formGroupExampleInput">School Name</label>
                                        <input type="text" class="form-control" name="SchoolName" id="SchoolName" placeholder="School Name">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="formGroupExampleInput2">Local Government</label>
                                        <input type="text" class="form-control" name="Zipcode" id="Zipcode" placeholder="Local Government">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="formGroupExampleInput2">State</label>
                                        <input type="text" class="form-control" name="Zone" id="Zone" placeholder="State">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="formGroupExampleInput">Address</label>
                                        <textarea id="Address" class="form-control"  placeholder="Address" name="Address" style="height: 100px;border-color:#e6e6e6; "></textarea>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <button class="btn btn-info " value="Save">Save</button>  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>

        </div>

<script>
    $(document).ready(function () {
        $('#ManageSchoolValidation').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        err: {
            // You can set it to popover
            // The message then will be shown in Bootstrap popover
            container: 'tooltip'
        },
        fields: {
            SchoolName: {
                validators: {
                    notEmpty: {
                        message: 'The school name is required'
                    },
                }
            },
            Zipcode: {
                validators: {
                    notEmpty: {
                        message: 'The zipcode is required'
                    },
                }
            },
            Zone: {
                validators: {
                    notEmpty: {
                        message: 'The zone is required'
                    },
                }
            },
            Address: {
                validators: {
                    notEmpty: {
                        message: 'The address is required'
                    },
                }
            },
           
        }
    })
    .on('success.form.fv', function (e) {
        e.preventDefault();
        AddSchool('/ManageSchool/AddSchool');
    });
    
    });

    $('#cleartextbox').click(function () {
        document.getElementById("ManageSchoolValidation").reset();
    });
</script>




